* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 -webkit-tap-highlight-color: transparent;
  /* For mobile tap highlight */
  -webkit-focus-ring-color: transparent;
  /* For Safari blue ring */
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f9fc;

  font-weight: 300;
  word-break: normal;
  word-wrap: wrap;
overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;


}

/* all heading of sections */
/*  */


/* -------------General animation for all elements */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ---------------------------------------------------- */
/* ------------ First nav ar on top ------------------ */
nav {
  height: 60px;
  max-width: 100vw;
  position: fixed;
  z-index: 999;
  top: 0;
}

.nav {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: white;
  padding: 0;
  z-index: 9999;
  justify-content: space-between;

}

.organisation-name {

  position: relative;
  color: #092e55;
  font-weight: bold;
  width: 100px;
  margin-left: 2.5vw;
  height: 60px;
  overflow-y: hidden;
}

.organisation-name img {
  position: absolute;
  width: 100%;
  height: 60px;



}

/*  navigation items */
.nav-items ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1vw;
  list-style: none;
  margin-left: 2px;
  width: 70vw;

}

.nav-items li a {

  color: #092e55;
  text-decoration: none;
  font-weight: 600;
}

.nav-items li {
  position: relative;
  font-size: clamp(0.7em, 1.3vw, 1em);
  transition: color 0.3s ease;
  margin-top: 5px;
}

.nav-items li::before,
.nav-items li::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #092e55;
  bottom: 0;
  transition: 0.4s ease;
}

.nav-items li::before {
  left: 50%;
}

.nav-items li::after {
  right: 50%;
}

.nav-items li:hover::before,
.nav-items li:hover::after {
  width: 50%;
}

.nav-items li:hover {
  color: #FFD700;
}

.dropdown-content {
  display: none;
  position: absolute;

  height: auto;
  width: auto;
  background-color: white;
  z-index: 10;


}

.nav-items li:hover .dropdown-content {
  display: block;
  transition: 1s ease-in-out;
}

.dropdown-content a {
  display: block;
  color: rgba(232, 218, 218, 0.977);
  padding: 10px;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #767d84;
}

/*  */
.hamburger {
  display: none;
}

.hamburger span {
  width: 25px;
  height: 5px;
  position: absolute;
  border-radius: 20px;
  background-color: #092e55;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0%;

}

.hamburger span:nth-child(1) {
  top: 0;
  width: 20px;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
  width: 20px;
}

#toggle:checked+.hamburger span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

#toggle:checked+.hamburger span:nth-child(2) {
  opacity: 0;
}

#toggle:checked+.hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

a.arrow::before {
  content: '➤';
  /* or →, » etc */
  margin-right: 8px;
  color: #6bbd2c;
  /* arrow color */
  font-weight: bold;
}

/* --------------------------------- */
.cta-btn-nav {

  padding: 8px 15px;
   background-color: #092e55;
  border: none;
  margin-left: 1vw;
  font-size: clamp(12px, 1vw, 20px);
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.cta-btn-nav a{
text-decoration: none;
  color: white;
} 

.cta-btn-nav:hover {
  background-color: #092e55e8;
  color: white;
}

@media (max-width: 700px) {
  .nav {
    width: 100vw;
  }



  .nav-contact {
    height: 10vh;
  }

  .nav {
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
    padding-top: 10px;
  }

  .organisation-name img {
    width: fit-content;

    margin-top: -10.5px;
  }

  .nav-items {
    margin-left: 500vw;
    width: 70vw;
    z-index: 999999999999;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    margin-top: -30px;
    border-left: 5px solid #092e55;
  }

  #toggle:checked~.nav-items {
    margin-left: 30vw;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    padding: 10px 0;
    width: 100%;
    font-size: x-large;
    z-index: 99999;


  }

  .nav-items ul li {
    padding: 10px 0;
    border: 0;
    z-index: 99999;
  }

  .nav-items  li a {
    color: #092e55;
  }

  .dropdown-content {
    align-content: center;
    position: relative;


  }

  .dropdown-content a {
    font-size: clamp(0.3em, 0.7em, 2.2em);
    background-color: white;
 
  

  }

  .input-form-header {

    background-color: #092e55;
    right: 10px;
    flex: 1 1 30%;
    border-radius: 5%;
    width: 80%;
    margin: 10%;
  }

  .button-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 87.5%;
    width: 100%;
  }

  .cta-btn-nav {
    background-color: #092e55;
    color: white;
    font-weight: 800;
    padding: 5px 30px;
    border: none;
    margin-left: -1px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  .cta-btn-nav:hover {
    background-color: #767d84;

  }

  .hamburger {
    margin-left: auto;
    margin-right: 14vw;
    display: block;

    margin-top: -10px;
  }
}

/* -------------nav code completed---------- */
header {

  width: 95vw;
  margin-left: 2.5vw;
}

.hero {
  height: fit-content;
  background: url('') no-repeat center center/cover;

  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  width: 95vw;
  margin-top: 60px;
  overflow-x: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 400;
}

.cta-btn {
  padding: 14px 30px;
  background-color: #ffc107;

  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.cta-btn a {
  color: #000;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #e0a800;
  color: white;
}


/* ---why section---- */
.why-choose-section {
padding-top: clamp(60px,8vw,80px);

  margin: 0 auto;
  text-align: center;
}



.why-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 88vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
  gap: 30px;
 
}

.why-box {
  background: linear-gradient(145deg, #ffffff4f 20%, #9aa0a67b 100%);
  padding: 30px 20px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 250px;
  text-align: center;
}

.why-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.why-box i {
  font-size: 2.5rem;
  color: #6bbd2c;
  margin-bottom: 18px;
  overflow-y: hidden;
}

.why-box h4 {
  font-size: 1.25rem;
  color: #0b1f3a;
  margin-bottom: 10px;
  font-weight: 600;
}

.why-box p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 768px) {

  .section-title,
  .why-title {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
.why-box{
  max-width: 80vw;
}

}

/* why completed */

/* services section */


h3 {
  color: #092e55;
}

/* Responsive */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .cta-btn {
    padding: 12px 25px;
  }
}








.services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
 justify-content: center;  /* 🟢 this will center the whole grid */
  place-items: center;
 z-index: 99999;
  overflow: hidden;
  padding-bottom: clamp(60px,5vw,80px);
   

}

.services {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-block: 30px;

}

.service-btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  background-color: #092e55;
  margin-top: 6%;
  margin-bottom: 20px;
}

.service-item {
  height: fit-content;
  padding: 20px 20px;
  position: relative;
  background: linear-gradient(145deg, #ffffff 50%, #9aa0a67b 100%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  scale: 1;
  height: 400px;
  border-radius: 5px;
  transition: all 1s ease-in-out;


}

.service-item:hover {
  scale: 1.05;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
}

@media(max-width:500px) {
  .service-item {

    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
}



.tick-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

/* .tick-list li::before {
  content: '✔';
  color: rgba(0, 0, 0, 0.769);
  font-weight: bold;
  margin-right: 6px;
} */

.tick-list li {
  margin-bottom: 6px;
  display: flex;
  gap: 5px;
  align-items: center;

}

.tick-list li i {
  color: #092e55;
  margin-left: 10px;
}

@keyframes waveSlide {
  0% {
    transform: translateX(50%);
    transform: rotateX('0deg');

  }

  50% {
    transform: translateX(-50%);
    transform: rotateX('360deg');
  }

  100% {
    transform: translateX(50%);
    transform: rotateX('360deg');
  }
}

.service-item h3 {
  margin-bottom: 10px;
  z-index: 99999;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.service-item p {
  text-align: justify;
  line-height: 1.5;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 10px;
}




/* submit form of each service */

/* loader */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* loader */

.enquiry-form {

  background: white;
  padding: 30px;
  border-radius: 10px;


  max-width: 400px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  animation: none;
  z-index: 9999;
}

.enquiry-form h3 {
  text-align: center;
  color: #092e55;
  margin-bottom: 20px;
}

.enquiry-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.enquiry-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.button-submit {
  width: 100%;
  padding: 10px;
  background: #092e55;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.show {
  display: flex;
}

.zoom-in {
  animation: zoomIn 0.4s forwards;
}

.zoom-out {
  animation: zoomOut 0.4s forwards;
}

/* Animations */
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

.cross-button-close-form {
  height: 20px;
  width: 20px;
  position: absolute;

  cursor: pointer;
}

.cross-button-close-form span {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #092e55;
  top: 50%;

  border-radius: 5px;
  left: 0;
  transform-origin: center;
}

.cross-button-close-form span:first-child {
  transform: rotate(45deg);
}

.cross-button-close-form span:last-child {
  transform: rotate(-45deg);
}




/* Loader Overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader-overlay .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #092e55;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }

}
   .selector-container {
    display: flex;
    flex-direction: column;
    max-width: 88vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
      text-align: center;
      margin-top: 30px;
    }
 .main-button {
      width: 100%;
  max-width: 200px;
  height: 50px;
  border: 2px solid #092e55;
  background-color: white;
  border-radius: 10px;
  color: #092e55;
  font-weight: 550;
  font-size: clamp(14px, 2vw, 16px);
      cursor: pointer;
      transition: background 01s;
    }

    .main-button:hover {
      background-color: #0038733d;
    }
    .dropdown {
      margin-top: 20px;
      display: none;
   height: fit-content;
    
    width: 100%;
    max-width: 1000px;
 justify-content: center;
 flex-wrap: wrap;
      gap: 10px;
      animation: fadeIn 0.3s ease;
    }

    .dropdown button {
      padding: 12px 20px;
      border: 2px solid teal;
      border-radius: 6px;
      background: #fff;
      cursor: pointer;
      transition: all 0.3s;
             width: 100%;
  max-width: 200px;
    }

    .dropdown button:hover {
      background-color:rgba(0, 128, 128, 0.345);
      border-color: #004e92;
      color: #004e92;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.95);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }






/* galley item   */
.gallery-section {
  padding: 30px 40px;
  text-align: center;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}



.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.gallery-item {
  overflow: hidden;
  width: 360px;
  height: 180px;
  border-radius: 12px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  display: block;


}

.gallery-item:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}
@media(min-width:1710px){
.gallery-grid{
  max-width: 70vw;
}
}
@media(max-width:825px) {
  .gallery-item {
    width: 80vw;
    height: 250px
  }
}




@media(max-width:507px) {
  .gallery-item {
    width: 95vw;
    height: 150px
  }

  .gallery-section {
    padding: 20px 10px;
    text-align: center;
    background-color: #f7f9fc;
  }
}

.operating-cities-section {
  padding: 60px 40px;
  text-align: center;
  background-color: #f7f9fc;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 0;
  justify-content: center;
  align-items: center;
  height: auto;

}


.where-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  gap: 30px;
}

.where-card {
  position: relative;
  width: 360px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;


}

.where-card:hover {
  transform: translateY(-3px);
  transition: all 0.2s linear;
}

.where-card::before,
.where-card::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.935) 100%);
  z-index: 95;
  margin-left: -50%;

}

.where-card img {
  position: absolute;
  margin-left: -50%;

  width: 100%;
  height: 100%;
  filter: grayscale(0.8);
  transform: scale(1);
  transition: transform 0.5s ease-in-out;

}

.where-card:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}

.where-card p {
  position: absolute;
  z-index: 99;
  top: 80%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 10%;
}

@media(max-width:940px) {
  .where-grid {
    width: 98vw;
  }

  .where-card {
    width: 300px;
    height: 180px;
  }
}

@media(max-width:650px) {
  .where-grid {
    width: 95vw;
  }

  .where-card {
    width: 220px;
    height: 110px;
    font-size: 12px;
    border-radius: 5px;
  }

}

@media(max-width:650px) {
  .where-grid {
    width: 95vw;
  }

  .where-card {
    width: 150px;
    height: 100px;
    font-size: 12px;
    border-radius: 5px;
  }

  .where-card p {
    top: 70%;
  }

}

@media(max-width:350px) {
  .where-grid {
    width: 100vw;
    gap: 10px;
  }

  .where-card {
    width: 130px;
    height: 100px;
    font-size: 12px;
    border-radius: 5px;
  }
}

@media(min-width:1710px){
.where-grid{
  max-width: 70vw;
}
}


/* faq  */
.faq-section {

  padding: 60px 0px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 0;
}


.faq-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  overflow: hidden;
  transition: all 0.3s ease;
  text-align: left;

}

.faq-question {

  cursor: pointer;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  font-weight: bold;
  transition: background 0.3s ease;
}

.faq-question:hover {
  background-color: #eaeaea;
}

.arrow-icon {
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 20px;
  font-size: 0.95em;
  line-height: 1.6em;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding: 15px 20px;
}

.faq-item.active .arrow-icon {
  transform: rotate(90deg);
}

@media(max-width:820px) {
  .faq-item {
    width: 100%;
    max-width: 88vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
}


.testimonials {
  padding: 60px 0px;
  margin: auto;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 90vw;

}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  width: 100%;
  position: relative;
  max-width: 370px;

}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.client-info {
  background-color: #092e55;
  color: white;
  padding: 15px 20px;
  display: flex;

  align-items: center;
}

.client-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  border: 2px solid #25d366;
}

.client-na-il {

  color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.client-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.client-mail {
  font-size: 0.7rem;


}

.testimonial-text {
  font-size: 1rem;
  color: black;
  line-height: 1.6;
  padding: 20px;
  text-align: justify;
  background-color: white;
}
    .stars {
     text-align: center;
     margin-top: auto;
      margin-bottom: 5px;
      color: #ffbf00;
      font-size: 16px;
    }


@media(max-width:850px){
  .testimonial-card{
      max-width: 280px;
  }
}
@media(max-width:680px){
  .testimonial-card{
      max-width: 220px;
  }
}
@media(max-width:530px){
  .testimonial-card{
      max-width: 88vw;
  }
}


@media(min-width:1710px){
.testimonial-grid{
  max-width: 70vw;
}
}


    /* footer css */
.footer {

  padding: 60px 20px 30px;
  color: rgb(162, 162, 162);
  font-size: 14px;
  background-color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;

  gap: 40px;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 10px;
  color: #092e55;
}

.footer-column-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 18vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

.footer-left-icons {
  display: flex;
  gap: 20px;
  width: 10vw;
  font-size: 24px;
  color: #092e55;

}

.footer-column-left p {
  line-height: 20px;
  color: black;

}

.footer-column-list {
  display: flex;
  justify-content: center;
  width: 35vw;
  gap: 150px;
}

.footerList h4 {
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
  font-weight: 700;
  letter-spacing: 1.5PX;
}


.footerList li {
  margin-top: 10px;
  list-style: none;
  color: black;
  font-size: 14px;
  font-weight: 500;

}

.second-list {
  margin-left: 20px;
}

.footer-column-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
  margin-right: 4vw;
}

.footer-column-right h4 {

  font-size: 15px;
  color: #092e55;
  font-weight: 700;
  letter-spacing: 1.5PX;

}

.footer-end {
  border-top: 2px solid rgba(163, 156, 156, 0.53);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  height: 100px;
  align-items: center;


  margin-top: 100px;
}

.buttons-footer {
  display: flex;
  flex-direction: row;
  width: 40vw;


}

.footer {

  padding: 60px 20px 30px;
  color: rgb(162, 162, 162);
  font-size: 14px;
  background-color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;

  gap: 40px;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 10px;
  color: #092e55;
}

.footer-column-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 18vw;
  margin-left: 4vw;
  margin-right: 4vw;
    color: #092e55;
}

.footer-left-icons {
  display: flex;
  gap: 20px;
  width: 10vw;
  font-size: 24px;
  color: #092e55;

}

.footer-column-left p {
  line-height: 20px;
  color: black;

}

.footer-column-list {
  display: flex;
  justify-content: center;
  width: 35vw;
  gap: 150px;
}

.footerList h4 {
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
  font-weight: 700;
  letter-spacing: 1.5PX;
}


.footerList li {
  margin-top: 10px;
  list-style: none;
  color: black;
  font-size: 14px;
  font-weight: 500;

}
.footerList  li a{
    color: #092e55;
}

.second-list {
  margin-left: 20px;
}

.footer-column-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
  margin-right: 4vw;
}

.footer-column-right h4 {

  font-size: 15px;
  color: #092e55;
  font-weight: 700;
  letter-spacing: 1.5PX;

}

.footer-end {
  border-top: 2px solid rgba(163, 156, 156, 0.53);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  height: 100px;
  align-items: center;


  margin-top: 100px;
}

.buttons-footer {
  display: flex;
  flex-direction: row;
  width: 40vw;


}

.footer-btn {
  background-color: #092e55;
  border: 1px solid #092e55;
  color: white;
  width: 100%;
  max-width: 165px;
  height: 50px;
  font-size: clamp(10px, 2vw, 18px);
  margin-left: 1.5vw;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-btn a{
  text-decoration: none;
  color: white;
}

.social-icons i {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;

}
.footer-left-icons  a{
  text-decoration: none;
 color: #092e55;
}

.footer-copy {
  width: 50vw;
  margin-right: 4vw;
  display: flex;
  justify-content: flex-end;
  color: black;
}

@media(max-width:1100px) {
  .footer-column-list {
    gap: 80px;
  }

  .footer-column-right {
    margin-left: 4vw;
  }
}

@media(max-width:780px) {
  .footer-end {
    flex-direction: column;
  }

  .buttons-footer {
    width: 100vw;
    justify-content: center;
    margin-top: 30px;
  }

  .footer-copy {
    width: 100vw;
    justify-content: center;
  }

  .footer-column-list {
    gap: 80px;
  }

  .footer-left-icons {
    font-size: 20px;
  }

  .footer-column-left {
    width: 20vw;
  }

  .footer-column-list {
    width: 35vw;
    justify-content: flex-start;
    margin-left: 15vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .footer-container {
    justify-content: flex-start;
  }
}

@media(max-width:500px) {
  .footer-column-left {
    width: 90vw;


  }

  .footer-left-icons {
    font-size: 16px;
  }

  .footer-left-icons {
    width: 90vw;
    display: flex;

  }

  .footer-column-list {
    width: 100vw;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 4vw;
    margin-right: 4vw;

    align-items: center;


  }

  .second-list {
    margin-left: 0px;
  }

  .footer-container {
    justify-content: flex-start;
  }

  .footer-column-right {
    width: 100vw;
    margin-left: 4vw;
    margin-right: 4vw;

  }

  .footer-buttons {
    width: 90vw;
  }

  .footer-btn {
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 140px;
    height: 50px;
    font-size: 15px;
  }
}

@media(max-width:330px) {
  .footer-column-list {
    margin-left: 0;
  }

}

@media(max-width:330px) {
  .footer-column-list {
    margin-left: 0;
    width: 90vw;
    margin-left: 4vw;

  }



  .footer-btn {
    width: 90vw;
    justify-content: center;
    align-items: center;

    max-width: 140px;
    height: 50px;
    font-size: 12px;
  }
}





/* ---end footer--- */




/* whatsapp-icon */
.wats-ico {
  position: fixed;
  top: auto;
  bottom: 30px;
  left: auto;
  right: 6vw;
  display: flex;
  z-index: 99999;
  flex-direction: column;



}

.wats-ico p {

  position: absolute;
  margin-left: 35%;

  animation: up-down 1.5s linear infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(-12px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-12px);
  }
}

.wats-ico a {
  text-decoration: none;
  font-size: 40px;

}

.fa-brands {
  color: #25D366;


}
/* special formatting for h2 */

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
margin-bottom: 40px;



  font-size: clamp(25px, 3vw, 36px);
  margin-top: clamp(40px, 5vw, 60px);
  text-align: center;
  background: linear-gradient(to right, #092e55 30%, teal 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  
}

h2::after {
  content: '';
  position: relative;
width: 10%;
  margin-top: 10px;
  height: 5px;
  z-index: 9999;
  border-radius: 10px;
  background: linear-gradient(to right, #092e55 30%, teal 100%);

}

h2:hover::after {
    animation: animatebefore 5s linear;
}

@keyframes animatebefore {
    0% {

        width: 10%;

    }

    50% {
        width: 30%;
    }

    100% {
        width: 10%;
    }
}

.section-bottom-button {
  margin-top: clamp(30px, 5vw, 40px);
  width: 100%;
  max-width: 200px;
  height: 50px;
  border: 2px solid #092e55;
  background-color: transparent;
  border-radius: 10px;
  font-size: clamp(14px, 2vw, 16px);

}

.section-bottom-button a {
  text-decoration: none;
  font-weight: 600;
  color: #092e55;
}

.section-bottom-button:hover {
  background-color: #092e55;

  transition: all 0.5s ease;
}

.section-bottom-button:hover a {
  color: white;
}
